<%- include('includes/head.ejs', { title: 'Profile' }) %>
</head>
<!-- Every user get this page as their profile page -->
<body>
  <%- include('includes/header.ejs') %>
  <main>
    <h1>The Profile Page</h1>
    <p>Your Profile</p>
    <p>If you reached out to here that means you are User definitely, or Admin maybe?</p>
  </main>
</body>
</html>